/*
    Eu usei esse style para o fonte02.html
*/

@charset "UTF-8";
@font-face {
    font-family: 'aliqa';
    src: url(fonts/Aliqa.ttf) format('truetype'), url(fonts/Aliqa.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'aliqa', 'arial';
    font-size: 3em;
    font-weight: normal;
}